[Unit]
Description=Battery Monitoring
After=sshd.service
Requires=sshd.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/sh -c '/usr/local/sbin/start_battery_monitoring.sh'

